.message {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    background-color: blue;
    color: white;
    text-align: left !important;
}

.message__headerText {
    display: flex;
}