.chatBubble {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-bottom: 1px solid lightgrey;
    cursor: pointer;
    transition: .8s;
    align-items: center;
}

a {
    text-decoration: none !important;
    color: black;
}

.chatBubble:hover {
    background-color: #e2e2e2
}

.chatBubble__textInfo {
    flex: 1;
    margin-left: 12px;
    align-self: center;
}

.chatBubble__rightContainer {
    margin-top: 12px;
    margin-right: 12px
}

.chatBubble__rightContainer>p {
    margin: 0px;
    margin-top: 4px;

}

h2 {
    font-size: 18px;
}